RewriteEngine On

# Force city slugs to lowercase in the browser URL.
RewriteRule ^curtain-shop-in-Chittagong/?$ https://curtivelle.com/curtain-shop-in-chittagong [R=301,L]
RewriteRule ^curtain-shop-in-Sylhet/?$ https://curtivelle.com/curtain-shop-in-sylhet [R=301,L]


# ১. কেউ যদি index, index.html বা index.php লিখে ঢোকার চেষ্টা করে, তাকে মেইন ডোমেইনে পাঠাও
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.(html|php|htm)\ HTTP/ [NC,OR]
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\ HTTP/ [NC]
RewriteRule ^index(\.html|\.php|\.htm)?$ https://curtivelle.com/ [R=301,L]

# ২. ডিরেক্টরি ইনডেক্স সেট করা যাতে সার্ভার নিজে থেকে /index না খোঁজে
DirectoryIndex index.html

# ৩. যেকোনো পেজের শেষে .html লিখে সার্চ করলে তাকে ক্লিন ইউআরএলে ফোর্স রিডাইরেক্ট করবে
RewriteCond %{THE_REQUEST} \s/+(.+?)\.html[\s?] [NC]
RewriteRule ^ /%1 [R=301,L]

# ৪. ইন্টারনাল রুল: ইউআরএলে .html না থাকলেও সার্ভার যেন ফাইলটি চেনে
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^([^/]+)/?$ $1.html [L]